    <div id="right-column">
        Right column
        <br />
        Right column
        <br />
        Right column
        <br />
        Right column
        <br />
        Right column
        <br />
    </div>
    <div id="map-container">
        This is where the map will go
    </div>
