<% provide(:title, 'trips for user') %>
<h1 class="page-heading">Trips for <%= @user.name %></h1>

<% if @trips.any? %>
    <ol class="trips">
        <!--  % @trips.each do |trip| % -->
        <!--  % end % -->
        <%= render partial: 'shared/trip', collection: @trips %>
    </ol>
<% end %>

