<% @user ||= current_user %>
<div class="stats">
    <% ## These are trips that I have joined and trips that I have created %>


    <% ## Note, the following path is incorrect.  I think I need an ernollments route %>
    <a href="<%= user_enrollments_path(@user) %>">
        <strong id="following" class="stat">
            <%= @user.enrollments.count %>
        </strong>
        trips I have joined
    </a>
    <a href="<%= user_trips_path(@user) %>">
        <strong id="followers" class="stat">
            <%= @user.trips.count %>
        </strong>
        My trips
    </a>
</div>
