/***********************************************************************/
/**  Taken from:
    https://code.google.com/p/cleanstickyfooter/
    For keeping a header at the top
 **/

html,body {
    height: 100%;
    padding: 0;
    margin: 0;
    overflow: hidden;
}

#header {
    background-color: #ccc;
    height: 100px;
}

#content {
}

#map-container {
    height: 100%;
    color: #aaa;
    overflow: hidden;
}
#footer {
    background-color: #c3c;
    height: 50px;
    font-size:10px;
}

/** For two column  **/
#middle-container {
    width: 100%;
}
#right-column {
    float: right;
    width: 150px;
    background-color: #0a0;
    color: #ccc;
    height: 100%;
}

