// Place all the styles related to the StaticPages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
html,body {
    height: 100%;
    padding: 0;
    margin: 0;
}

#header {
    background-color: #ccc;
    height: 100px;
}

#content {
}

#footer {
    background-color: #ccc;
    height: 50px;
    font-size:10px;
}

#map {
    height:100%;
    width:100%;
}
