/***********************************************************************/
/**  Taken from:
    https://code.google.com/p/cleanstickyfooter/
    For keeping a header at the top
 **/

html,body {
    height: 100%;
    padding: 0;
    margin: 0;
}

#header {
    background-color: #ccc;
    height: 100px;
}

#content {
}

#map-container {
    height: 100%;
    width: 100%;
    background-color: #040;
}
#footer {
    background-color: #c3c;
    height: 50px;
    font-size:10px;
}
