<div id="header">
    <div class="navbar">
        <div class="container">
            <a href="/" id="logo">CanoeTrek</a>
            <nav>
                <ul class="nav pull-right">
                    <li><a href="/">Home</a>
                    <li><a href="/">Help</a>
                    <li><a href="/signin">Sign in</a>
                </ul>
            </nav>
        </div>
    </div>
</div>
